*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px 0;
  color: #333;
}

button i {
  font-size: 12px;
  margin-right: 4px;
}

@media (min-width: 524px) {
  body {
    padding: 20px;
  }
}
